In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import requests
import time

In [2]:
from api_key import api_key
print(type(api_key))

<class 'str'>

In [3]:
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

In [4]:
#tell me about citipy
citipy.cities.line_num

46833

In [5]:
# Output File (CSV)
output_data_path = "output_data/cities.csv"

In [6]:
lat= 34.64
lon= -120.46

In [7]:
weather_response =requests.get (f"https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={api_key}")

In [8]:
#find out what is the type for weather
#type(weather_response)

In [9]:
weather_response.json()

{'coord': {'lon': -120.46, 'lat': 34.64},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 290.26,
  'pressure': 1020,
  'humidity': 67,
  'temp_min': 287.59,
  'temp_max': 292.59},
 'visibility': 16093,
 'wind': {'speed': 6.2, 'deg': 270},
 'clouds': {'all': 75},
 'dt': 1553383347,
 'sys': {'type': 1,
  'id': 4558,
  'message': 0.0065,
  'country': 'US',
  'sunrise': 1553349687,
  'sunset': 1553393718},
 'id': 5367788,
 'name': 'Lompoc',
 'cod': 200}

In [10]:
# Range of latitudes and longitudes from city.py library
lat_range = (-90, 90)
lng_range = (-180, 180)

In [11]:
  # List for holding lat_lngs and cities
lat_lngs = []
cities = []

In [12]:
# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
# for lat_lng in lat_lngs:
#     print(lat_lng)

In [13]:
# Identify nearest city for each lat, lng combination
city_lat_lng =dict()
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
        
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        
        
        cities.append(city)
       # city_lat_lng[city] = [lat_lng[0], lat_lng[1]]#this is an list that stores cityname and latlon

# Print the city count to confirm sufficient count
len(cities)

614

In [14]:
weather_response_city = (weather_response.json()['name'])

In [15]:
weather_response_city

'Lompoc'

In [16]:
weather_response_humidity = (weather_response.json()['main']["humidity"])
print(weather_response_humidity)
city

67

'torbay'

In [17]:
print(cities[:10])

['korsakovo', 'nuuk', 'labuhan', 'chaman', 'leningradskiy', 'narrabri', 'charters towers', 'mataura', 'karratha', 'ayer itam']

In [18]:
#test weather data for a city in unique cities list -- if found return the humidity, name, 
if weather_response_humidity in cities[:10]:
    city_lat_lng[weather_response_city]
print(city_lat_lng)

{}

In [19]:
print(cities)

['korsakovo', 'nuuk', 'labuhan', 'chaman', 'leningradskiy', 'narrabri', 'charters towers', 'mataura', 'karratha', 'ayer itam', 'busselton', 'santa marta', 'ulaangom', 'yamada', 'ribeira grande', 'gamba', 'fort nelson', 'puerto ayora', 'butaritari', 'brae', 'shetpe', 'blackwater', 'illoqqortoormiut', 'kodiak', 'kirakira', 'belushya guba', 'abdulino', 'port-cartier', 'attawapiskat', 'sao filipe', 'rikitea', 'monywa', 'galesong', 'cape town', 'ahipara', 'rabo de peixe', 'kununurra', 'ushuaia', 'esso', 'tessalit', 'bredasdorp', 'bandarbeyla', 'beyneu', 'nalut', 'broken hill', 'safakulevo', 'hambantota', 'east london', 'barentsburg', 'saskylakh', 'cherskiy', 'airai', 'bengkulu', 'mwinilunga', 'belmonte', 'nalvo', 'samarai', 'albany', 'codrington', 'viligili', 'new norfolk', 'lincoln', 'oussouye', 'vao', 'fare', 'hovd', 'abha', 'bijar', 'christchurch', 'vaini', 'kapaa', 'port arthur', 'mackenzie', 'mys shmidta', 'tasiilaq', 'kargasok', 'lorengau', 'oranjemund', 'dunedin', 'luanda', 'rabaul', 'westport', 'santa maria', 'atuona', 'port elizabeth', 'saint-francois', 'ancud', 'sidi ali', 'margate', 'caravelas', 'haines junction', 'diego de almagro', 'alice springs', 'tsihombe', 'hasaki', 'solovetskiy', 'hobart', 'vaitupu', 'nikolskoye', 'mahebourg', 'sentyabrskiy', 'dikson', 'bytca', 'krasnovishersk', 'arraial do cabo', 'richards bay', 'nome', 'punta arenas', 'taolanaro', 'mangrol', 'ketchikan', 'san francisco del mar', 'ust-nera', 'lata', 'hun', 'bluff', 'longyearbyen', 'castro', 'coquimbo', 'vardo', 'ihiala', 'narsaq', 'kaohsiung', 'yellowknife', 'ilulissat', 'ponta do sol', 'launceston', 'naze', 'kedrovyy', 'sergeyevka', 'kuusamo', 'kusk', 'gwadar', 'alofi', 'havre-saint-pierre', 'hunterville', 'thompson', 'hawera', 'baracoa', 'puerto escondido', 'ayr', 'goba', 'hithadhoo', 'qaanaaq', 'hermanus', 'kuhestan', 'amga', 'talnakh', 'iralaya', 'eskasem', 'salinopolis', 'shelburne', 'puerto madryn', 'tezu', 'nguiu', 'dawson creek', 'port alfred', 'bargal', 'bathsheba', 'nizhneyansk', 'georgetown', 'hilo', 'tuatapere', 'ukiah', 'wilhelmshaven', 'barra do garcas', 'ust-kuyga', 'straubing', 'dashitou', 'chokurdakh', 'luganville', 'hihifo', 'bintulu', 'dingle', 'college', 'barrow', 'jamestown', 'kozhva', 'kaitangata', 'te anau', 'tuktoyaktuk', 'iqaluit', 'khristoforovo', 'sesheke', 'shihezi', 'kavieng', 'addi ugri', 'koumac', 'fort-shevchenko', 'urdzhar', 'talaya', 'portland', 'hualmay', 'souillac', 'olafsvik', 'rungata', 'chumikan', 'tabiauea', 'manavalakurichi', 'pisco', 'zarate', 'ambulu', 'avarua', 'faya', 'katherine', 'mehriz', 'dori', 'khed', 'kuche', 'qasigiannguit', 'bulungu', 'ous', 'horta', 'dryden', 'wahiawa', 'kalino', 'lebu', 'ljubimec', 'broome', 'pochutla', 'massa marittima', 'alotau', 'saleaula', 'saint-donat-de-montcalm', 'walvis bay', 'mitsamiouli', 'auki', 'norman wells', 'bethel', 'faanui', 'pemangkat', 'namibe', 'saint george', 'sao joao da barra', 'sitka', 'san quintin', 'kokologo', 'camacha', 'shenjiamen', 'la ronge', 'olhao', 'grand gaube', 'manadhoo', 'san patricio', 'jackson', 'barabai', 'santa cruz cabralia', 'birobidzhan', 'marzuq', 'marataizes', 'aksu', 'severodvinsk', 'udomlya', 'pangody', 'tongzi', 'sembakung', 'juneau', 'sagay', 'djibo', 'champerico', 'ahuimanu', 'victoria', 'santa rosa', 'pitimbu', 'mackay', 'kruisfontein', 'sorland', 'samusu', 'standerton', 'goderich', 'palabuhanratu', 'mar del plata', 'saint-philippe', 'upernavik', 'rio gallegos', 'kavaratti', 'viru', 'baherden', 'pandan', 'amderma', 'tal', 'vostok', 'acarau', 'naryan-mar', 'lar', 'taoudenni', 'touros', 'sao miguel do araguaia', 'vierzon', 'dharchula', 'jalu', 'sao jose da coroa grande', 'araceli', 'south sioux city', 'zaraza', 'samarkand', 'altonia', 'skjervoy', 'fortuna', 'kousseri', 'mehamn', 'biak', 'uthal', 'santa cruz de la palma', 'coihaique', 'stolin', 'khonuu', 'saint-joseph', 'kahului', 'kazalinsk', 'chapais', 'oranjestad', 'saryshagan', 'bereda', 'kudahuvadhoo', 'ekhabi', 'mao', 'liverpool', 'batagay-alyta', 'jaffrey', 'lumeje', 'raton', 'coahuayana', 'great yarmouth', 'syracuse', 'balaipungut', 'sinnamary', 'qui nhon', 'khatanga', 'grand river south east', 'san cristobal', 'chuy', 'cururupu', 'valladolid', 'egvekinot', 'kushima', 'tazovskiy', 'bell ville', 'aranos', 'lashio', 'cidreira', 'ifo', 'bubaque', 'kaseda', 'bouna', 'maniitsoq', 'porto novo', 'waipawa', 'campbell river', 'tutoia', 'boden', 'suntar', 'yulara', 'saint anthony', 'paita', 'yar-sale', 'san francisco', 'bilibino', 'sept-iles', 'chippewa falls', 'esperance', 'malacky', 'nador', 'singapore', 'kamenskoye', 'cabo san lucas', 'tingrela', 'warmbad', 'la paz', 'port moresby', 'rawlins', 'kamina', 'nola', 'san angelo', 'quatre cocos', 'aklavik', 'ugoofaaru', 'sohagpur', 'katsuura', 'oistins', 'port hardy', 'carnarvon', 'krasnoselkup', 'anadyr', 'pulgaon', 'puerto cabezas', 'turukhansk', 'virbalis', 'kyzyl', 'bonthe', 'zhezkazgan', 'severo-kurilsk', 'wakkanai', 'saldanha', 'leshukonskoye', 'paucartambo', 'mount isa', 'lompoc', 'turan', 'aksarka', 'umzimvubu', 'mount pleasant', 'kyren', 'sawtell', 'manaure', 'manokwari', 'tautira', 'vila velha', 'husavik', 'dongsheng', 'wahran', 'bajil', 'ferkessedougou', 'hofn', 'male', 'vossevangen', 'northam', 'norden', 'san andres', 'nemuro', 'mount gambier', 'yaan', 'inirida', 'mount vernon', 'palauig', 'dukat', 'constitucion', 'jiwani', 'najran', 'langarud', 'geraldton', 'alikovo', 'lichuan', 'truckee', 'santa cruz', 'henties bay', 'cap malheureux', 'pevek', 'mlonggo', 'nsanje', 'biloela', 'balkhash', 'yumen', 'mering', 'padang', 'lianran', 'lagos', 'poselki', 'puro', 'kaliua', 'labytnangi', 'provideniya', 'tahta', 'cleburne', 'labuan', 'porto walter', 'mahibadhoo', 'muroto', 'santa isabel do rio negro', 'torbay', 'nouadhibou', 'puerto del rosario', 'dolores', 'marcona', 'port hedland', 'warqla', 'weligama', 'praia da vitoria', 'richland', 'hokitika', 'guiratinga', 'hamilton', 'les escoumins', 'oriximina', 'yichang', 'bambous virieux', 'luderitz', 'nanortalik', 'tiksi', 'mayumba', 'marsh harbour', 'naantali', 'port augusta', 'vanimo', 'nova olimpia', 'mahajanga', 'soe', 'lebedinyy', 'shache', 'conceicao do araguaia', 'roros', 'adrar', 'kiama', 'fairbanks', 'meulaboh', 'beloha', 'pimentel', 'channel-port aux basques', 'segezha', 'dwarka', 'nantucket', 'darab', 'linares', 'port blair', 'corinto', 'ossora', 'bacuit', 'clyde river', 'marsa matruh', 'necochea', 'khani', 'jumla', 'nisia floresta', 'sokolo', 'sisimiut', 'birjand', 'sokoni', 'kirkuk', 'billings', 'turinskaya sloboda', 'san francisco de becerra', 'xichang', 'dombarovskiy', 'mendeleyevsk', 'frederico westphalen', 'vestmanna', 'carahue', 'upington', 'krivodol', 'golden', 'parambu', 'belogorsk', 'cayenne', 'araouane', 'pinawa', 'guerrero negro', 'hohhot', 'bolotnoye', 'tual', 'khasan', 'biscarrosse', 'valente', 'jiuquan', 'salalah', 'san ciro de acosta', 'borogontsy', 'mandalgovi', 'booue', 'galiwinku', 'la primavera', 'tigil', 'ponerihouen', 'devonport', 'klaksvik', 'tilichiki', 'zeya', 'yilan', 'vila franca do campo', 'harper', 'kilcormac', 'mingyue', 'kang', 'tevriz', 'deputatskiy', 'ilhabela', 'umm durman', 'tara', 'nandurbar', 'wanning', 'san lazaro', 'cuicatlan', 'kloulklubed', 'simpang', 'uporovo', 'isangel', 'gaspe', 'piranshahr', 'duncan', 'berlevag', 'aztec', 'ermelo', 'banda aceh', 'laguna', 'gat', 'north bend', 'lolua', 'swidnik', 'tura', 'gunnedah', 'inhambane', 'bontang', 'buribay', 'shingu', 'grand-lahou', 'coolum beach', 'zharkent', 'karak', 'los llanos de aridane', 'lewisporte', 'baculin', 'maragogi', 'grao mogol', 'aykhal', 'venezuela', 'ust-maya', 'cibeureum', 'nizwa', 'severo-yeniseyskiy', 'tellin', 'port lincoln', 'baringo', 'pingliang', 'san jose', 'korla']

In [20]:
#cities[0].head()
len(cities)

614

In [21]:
weather_df = pd.DataFrame(columns=["City","Cloudiness","Country","Date","Humidity","Lat","Lng","Max_Temp","Wind_Speed"])

In [ ]:

for cityname in cities:

    print(cityname)

    try:
        #var=requests.get("https://api.openweathermap.org/data/2.5/weather",params={"lat":lat,"lon":lon,"appid":api_key}).json()
        var=requests.get(f"https://api.openweathermap.org/data/2.5/weather?q={cityname}&appid={api_key}").json()

        #         #cityn = var["name"]
        if cityname:
            cityn = cityname
       # print('City':cityn)
        if clouds:
            clouds = ["clouds"]["all"]
       # print('Cloudiness':clouds)
        if country:
            country =var["sys"]["country"]
        #print("Country":country)
        if date:
            date = var["dt"]#print#('check1')
       # print("Date":date)#('check1')
# #         #date =(((date/60)/60)/24)+DATE(1970,1,1)
        if humidity:
              humidity = var["main"]["humidity"]
       # print("Humidity":humidity)
        if lat:     
             lat = var["coord"]["lat"]
        #print("Lat":lat)
        if lon: 
            long = var["coord"]["lon"]
        #print("Lng:long")
        if maxtemp:     
            maxtemp = var["main"]["temp_max"]
       # print("Max_Temp":maxtemp)
#         #maxtemp= maxtemp * (9/5)+32
        if windspeed:
        windspeed = var["wind"]["speed"]
        #print("Wind_Speed":windspeed)
#     #windspeed = windspeed / (0.44704)
# #this is the process that takes the variables from the jason and associates them to the dataframe                                      
        Values_dict = {"City":cityn,"Cloudiness":clouds,"Country":country,"Date":date,"Humidity":humidity,"Lat":lat,"Lng":long,"Max_Temp":maxtemp,"Wind_Speed":windspeed}   
        #print('check3')
        if cityn:
           # print('check4')
            weather_df = weather_df.append(Values_dict, ignore_index = True)
           # print('check5')
#             print(weather_df)
    except:
        print("I have a problem")
#break
#weather_df.head(20)

In [23]:
# var=requests.get(f"https://api.openweathermap.org/data/2.5/weather?q=London&appid={api_key}").json()
# print (var)

In [29]:
weather_df.head(30)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,labuhan,8,ID,1553368003,96,-2.54,115.51,295.842,0.87
1,hermanus,64,ZA,1553367673,85,-34.42,19.24,294.820,1.62
2,carnarvon,92,ZA,1553367896,16,-30.97,22.13,299.092,3.32
3,tuktoyaktuk,90,CA,1553364000,71,69.44,-133.03,260.150,10.30
4,punta arenas,20,CL,1553367192,71,-53.16,-70.91,286.150,3.60
5,noumea,44,NC,1553365800,88,-22.28,166.46,295.150,2.72
6,jamestown,92,AU,1553367861,93,-33.21,138.60,290.492,3.47
7,iqaluit,90,CA,1553367768,77,63.75,-68.52,259.150,14.40
8,pevek,0,RU,1553368227,35,69.70,170.27,242.242,1.52
9,aden,20,YE,1553368115,95,12.79,45.03,299.842,8.62
10,cape town,0,ZA,1553367918,82,-33.93,18.42,294.820,4.10
11,mataura,64,NZ,1553367609,90,-46.19,168.86,287.040,1.22
12,albany,1,US,1553368099,58,42.65,-73.75,278.150,10.30
13,katsuura,75,JP,1553364000,93,33.93,134.50,276.150,2.60
14,lasa,20,CY,1553367686,87,34.92,32.53,289.150,3.10
15,faanui,44,PF,1553368271,100,-16.48,-151.75,301.742,4.57
16,mantua,0,IT,1553368265,41,45.16,10.79,291.150,1.50
17,goba,0,ET,1553368272,44,7.01,39.97,287.292,2.52
18,saskylakh,0,RU,1553368273,33,71.97,114.09,242.592,1.52
19,duldurga,36,RU,1553368273,49,50.67,113.59,271.192,4.77
20,ponta do sol,36,BR,1553368271,79,-20.63,-46.00,298.642,2.32
21,liverpool,0,GB,1553368273,77,53.41,-2.98,281.150,2.60
22,sao joao da barra,75,BR,1553364000,54,-21.64,-41.05,302.150,3.10
23,rikitea,32,PF,1553368097,98,-23.12,-134.97,299.442,8.47
24,deputatskiy,0,RU,1553368275,0,69.30,139.90,237.942,1.17
25,grindavik,75,IS,1553367701,100,63.84,-22.43,275.930,5.10
26,ushuaia,40,AR,1553364000,71,-54.81,-68.31,286.150,2.60
27,tessalit,80,ML,1553368276,11,20.20,1.01,299.642,3.62
28,slave lake,1,CA,1553364000,45,55.28,-114.77,282.150,4.10
29,new norfolk,75,AU,1553368274,63,-42.78,147.06,291.150,0.50